.navbar {
  height: 80px;
  .wrapper {
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
    .item {
      display: flex;
      align-items: center;
      font-size: 18px;
    }
    .left {
      display: flex;
      align-items: center;
      gap: 25px;
    }
    .center {
    }
    .right {
      display: flex;
      align-items: center;
      gap: 25px;
      .item {
      }
      .icons {
      }
    }
  }
}
